.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fffdfa;
}

.wrap {
}

.cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.img {
  width: 100px;
  height: 100px;
}